:root {
    --nav-link-color: #000000;
    --white-color: #fff;
    --nav-enquery: #67B689;
    --hover-color: #009541;
    --course-page: #20C997;
    --course-light-page: #83f9d6;
    --about-gray: #F7F7F7;
    --footer-background: #000000CC;
    --shadow: -13px 13px 5px -5px #4AACA380;
}

    .courses-first-section{
       height: 550px;
       margin-bottom: 100px;
       background-color: var(--course-light-page);
    }
    .courses-first-section .row{
        padding: 0px 190px;
    }
    .courses-first-section .row h1{
        letter-spacing: 2px;
        line-height: 50px;
    }
    .courses-first-section .row p{
        padding: 0px 100px;
    }
    .courses-first-section .row p button{
        background-color: var(--white-color);
        color: var(--course-page);
        border: 2px solid var(--course-page);
        padding: 8px 25px;
    }
    .courses-first-section .row p button:hover{
        background-color: var(--hover-color);
        color: var(--white-color);
        border: 2px solid var(--hover-color);
    }
    .courses-first-section .row img{
        width: 100%;
        margin-top: -2%;
        padding:inherit;

    }

    .courses-secound-section .first button{
        background-color: var(--course-page);
    }
    .courses-secound-section .row .secound{
        padding: 0;
    }
    .courses-secound-section .row .secound .cdd{
        display: none;
    }
    .courses-third-section .main-heading{
        color: var(--hover-color);
        }
        .courses-third-section .greenline{
            width: 15%;
            margin-left: 60%;
        }
    .courses-third-section .col-sm h5{
        color: var(--course-page);
        letter-spacing: 0.5px;
    }
    .courses-third-section .col-sm p{
        text-align: justify !important;
    }
    .courses-third-section .col-sm:hover{
        box-shadow: 0 0rem 1.9rem var(--course-page)!important;
    }
    .courses-fourth-section{
        margin: 130px 0px;
    }
    .courses-fourth-section .first h2,.training-heading{
        color: var(--hover-color);
    }
    .courses-fourth-section .secound{
        background-color: var(--course-page);
        border-radius: 35px;
    }
    .courses-fourth-section .training-heading{
        display: none;
    }
    .courses-fourth-section .first ul{
        display: contents;
        line-height: 60px;
    }
    .popular-courses{
        padding: 0px;
    }
    .popular-courses img{
        border-radius: 10px 10px 0px 0px;
    }
    .popular-courses p{
        font-size: 13px;
        text-align: justify;
    }
    .popular-courses button a{
        font-size: 14px;
        font-weight: bold;
        color: var(--white-color);
    }
    .popular-courses button{
        padding: 5px 25px;
        background-color: var(--course-page);
    }
    .popular-courses button:hover{
        background-color: var(--hover-color);
    }
    .courses-third-section .popular-courses:hover{
        box-shadow: 0 0rem 1.9rem #00000069 !important;
    }
    .courses-fiveth-section .container{
        background-color: var(--course-page);
        border-radius: 30px 30px 0px 0px;
    }
    .courses-fiveth-section .first{
        padding: 45px 60px;
    }
    .courses-fiveth-section .row{
        height: 385px;
    }
    .courses-fiveth-section .first h1{
        letter-spacing: 2px;
    }
    .courses-fiveth-section button a:hover{
        color: var(--course-page) !important;
    }
    .courses-fiveth-section .secound img{
        margin-top: -66px;
    }
    marquee div{
        width: 200px;
        height: 200px;
        background-color: blue;
        margin: 0px 10px;
        display: inline-table;
    }










    /* Mobile Responshiv */
@media only screen and (min-width: 320px) and (max-width: 425px) {
    
    .courses-first-section .row{
        padding: 0%;
    }
    .courses-first-section .row h1 {
        line-height: normal;
        letter-spacing: normal;
        font-size: 20px !important;
    }
    .courses-first-section .row p{
        padding: 0px;
        font-size: 12px;
    }
    .courses-first-section{
        height: 475px;
        margin-bottom: 70px;
    }

    .courses-secound-section,.courses-secound-section .container{
        margin: 0% !important;
        padding: 0% !important;
        text-align: center;
        }
        .courses-secound-section .container .row{
            margin: 0px !important;
        }
        .courses-secound-section .row .first{
            padding-top: 45px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 0px !important;
            }
            .courses-secound-section .row .first button{
                font-size: 9px;
    padding: 7px 20px !important;
    margin: 10px 8px !important;
            }
            .courses-secound-section .row .first p ul{
                width: auto !important;
            }
            .courses-secound-section .row .first p{
                font-size: 14px;
                text-align: justify;
                padding: 0px !important;
            }
            .courses-secound-section .row .secound .carousel-inner img{
                height: auto !important;
            }
    .courses-first-section .logo-image{
    display: none;
    }
            .courses-secound-section .row .secound img{
                width: 100%;
                padding: 0px 20px !important;
            }
            .courses-third-section .col-sm{
                margin: 0px !important;
            }
            .courses-third-section{
                padding-top: 0px !important;
            }
            .courses-third-section .main-heading{
                font-size: 22px;
                margin-bottom: 18px !important;
            }
            .courses-third-section .col-sm div span{
                font-size: 12px !important;
            }
            .popular-courses button {
                padding: 0px 23px;
            }
            .popular-courses button a {
                font-size: 12px;
            }
            .courses-third-section .greenline {
                width: 50%;
                margin-left: 50%;
            }
            .courses-third-section .main-paragraph {
                font-size: 16px !important;
            }
            .courses-fourth-section{
                margin: 30px 0px;
            }
            .courses-fourth-section .row .first{
                padding: 0px 20px !important;
            }
            .courses-fourth-section .row .first ul,.courses-fourth-section .row .first li{
                margin: 0px !important;
                font-size: 8px;
            }
            .courses-fourth-section .row .secound img{
                margin-right: 20px !important;
        margin-left: 20px !important;
            }
            .courses-fourth-section .training-heading{
                display: block;
            }
            .courses-fourth-section .first .sec-heading{
                display: none;
            }
            .courses-fiveth-section .container{
                border-radius: 30px;
            }
            .courses-fiveth-section .row{
                height: auto !important;
            }
            .courses-fiveth-section{
                padding-top: 0px !important;
            }
            .courses-fiveth-section .first {
                padding: 10px 15px;
            }
            .courses-fiveth-section .first h1 {
                letter-spacing: 1px;
                font-size: 23px;
            }
            .courses-fiveth-section .first ul {
                line-height: normal !important;
                line-height: 18px !important;
            }
            .courses-fiveth-section .first ul li {
                font-size: 12px;
            }
            .courses-fiveth-section .secound img{
                margin-top: auto !important;
            }


}
@media only screen and (min-width: 426px) and (max-width: 767px) {
    .courses-first-section .row{
        padding: 0%;
    }
    .courses-first-section .row h1 {
        line-height: normal;
        letter-spacing: normal;
        font-size: 20px !important;
    }
    .courses-first-section .row p{
        padding: 0px;
        font-size: 12px;
    }
    .courses-first-section{
        height: 475px;
        margin-bottom: 70px;
    }
    .courses-secound-section,.courses-secound-section .container{
        padding: 0% !important;
        text-align: center;
        }
        .courses-first-section .logo-image{
            display: none;
            }
        .courses-secound-section .row .secound{
            display: contents;
        }
        .courses-secound-section .row .first p{
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }
        .courses-secound-section .row .first{
            padding-top: 45px !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            padding-bottom: 0px !important;
            }
            .courses-secound-section .row .secound{
                padding: 20px !important;
            }
            .courses-secound-section .row .first button{
                font-size: 9px;
    padding: 7px 20px !important;
    margin: 10px 8px !important;
            }
            .courses-secound-section .row .first p{
                font-size: 14px;
                text-align: justify;
                padding-right: 0px !important;
            }
            .courses-secound-section .row .secound img{
                width: 100%;
                padding: 0px 9px 0px 20px !important;
            }
            .courses-third-section .row {
                margin-right: 0px !important;
            }
            .courses-fourth-section{
                margin: 30px 0px;
            }
            .courses-fourth-section .row .first{
                padding: 0px 20px !important;
            }
            .courses-fourth-section .row .first ul,.courses-fourth-section .row .first li{
                margin: 0px !important;
                font-size: 11px;
            }
            .courses-fourth-section .secound a{
                display: block;
            }
            .courses-fourth-section .row .secound img{
                margin-right: 0px !important;
                margin-top: 5px !important;
            }
            .courses-fourth-section .training-heading{
                display: block;
            }
            .courses-fourth-section .first .sec-heading{
                display: none;
            }
            .courses-third-section .row .col-sm .fs-8{
                font-size: 12px !important;
            }
            .courses-fiveth-section .container{
                border-radius: 30px;
            }
            .courses-third-section .col-sm h5 {
                font-size: 12px !important;
            }
            .courses-third-section .col-sm div span {
                font-size: 5px !important;
            }
            .popular-courses button {
                padding: 1px 20px;
            }
            .courses-third-section .col-sm p {
                text-align: justify !important;
                font-size: 6px !important;
            }

            .courses-fiveth-section .row{
                height: auto !important;
            }
            .courses-fiveth-section{
                padding-top: 0px !important;
            }
            .courses-fiveth-section .first {
                padding: 10px 15px;
            }
            .courses-fiveth-section .first h1 {
                letter-spacing: 1px;
                font-size: 23px;
            }
            .courses-fiveth-section .first ul {
                line-height: normal !important;
                line-height: 18px !important;
            }
            .courses-fiveth-section .first ul li {
                font-size: 12px;
            }
            .courses-fiveth-section .secound img{
                margin-top: auto !important;
            }
            #carouselExampleInterval{
                display: none;
            }
            .courses-secound-section .row .secound .cdd{
                display: unset !important;
            }
}

    /* Tablet Responshiv */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .courses-first-section .row{
        padding: 0px 50px;
    }
    .courses-first-section .row h1 {
        line-height: normal;
        letter-spacing: normal;
        font-size: 20px !important;
    }
    .courses-first-section .row p{
        padding: 0px;
        font-size: 12px;
    }
    .courses-first-section{
        height: 475px;
        margin-bottom: 100px;
    }
    .courses-secound-section,.courses-secound-section .container{
        padding: 0px !important;
    }
    .courses-secound-section .row .first p{
        padding-right: 0px !important; 
       }
    .courses-secound-section .row .secound{
        display: contents;
    }
    .courses-secound-section .row .secound img{
        width: 100%;
    }
    .courses-third-section .col-sm h5{
        font-size: 15px;
    }
    .courses-third-section .col-sm{
        margin: 0px !important;
    }
    .courses-fourth-section{
        margin: 80px 0px;
    }
    .courses-fourth-section .row .first{
        padding: 0px 20px !important;
    }
    .courses-fourth-section .row .first ul,.courses-fourth-section .row .first li{
        margin: 0px !important;
        font-size: 8px;
        line-height: 35px !important;
    }
    .courses-fourth-section .row .secound img{
        margin-right: 0px !important;
    }
    .courses-fourth-section .training-heading{
        display: none;
    }
    .popular-courses{
        padding: 2px !important;
    }
    .popular-courses h5{
        font-size: 12px !important;
    }
    .popular-courses p{
        font-size: 7px !important;
    }
    .courses-third-section .col-sm p{
        font-size: 10px;
    }
    .courses-fourth-section .row .secound img {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
    .courses-third-section .col-sm div span {
        font-size: 9.4px !important;
    }
    .courses-third-section .col-sm h5 {
        font-size: 15px !important;
    }
    .courses-fiveth-section .first {
        padding: 3px 25px;
    }
    .courses-third-section .col-sm .my-4.mx-3.fw-bold{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .courses-fiveth-section .first h1 {
        letter-spacing: 1px;
        font-size: 26px;
    }
    .courses-fiveth-section .first ul li {
        font-size: 13px;
    }
    .courses-fiveth-section .secound img {
        margin-top: 43%;
    }
    #carouselExampleInterval{
        display: none;
    }
    .courses-secound-section .row .secound .cdd{
        display: unset !important;
    }
}
    /* Small Laptop Responshiv */
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
        .courses-first-section .row{
            padding: 0px 100px;
        }
            .courses-secound-section .row .first{
                padding: 0.5rem !important;
            }
            .courses-secound-section .row .first button{
                font-size: 11px;
                padding: 7px 20px !important;
                margin: 5px 1px !important;
                }
                    .courses-secound-section .row .first p{
                     font-size: 14px;  
                     padding-right: 0px !important; 
                    }
                    .courses-secound-section .row .secound img{
                        width: 100%;
                    }
                    .courses-fourth-section .row .first ul,.courses-fourth-section .row .first li{
                        margin: 0px !important;
                        font-size: 11px;
                    }
                    .courses-fourth-section .training-heading{
                        display: none;
                    }
                    .popular-courses p{
                        font-size: 11px;
                    }
                    .courses-fiveth-section .first {
                        padding: 10px 29px;
                    }
                    .courses-fiveth-section .first h1 {
                        letter-spacing: 1px;
                        font-size: 36px;
                    }
                    .courses-fiveth-section .first ul li {
                        font-size: 12px;
                    }
                    .courses-fiveth-section .secound img {
                        margin-top: 48px;
                    }
                    #carouselExampleInterval img{
                        height: 400px !important;
                    }
                    .courses-third-section .col-sm div span {
                        font-size: 12px !important;
                    }

                }