@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --nav-link-color: #000000;
    --white-color: #fff;
    --nav-enquery: #67B689;
    --hover-color: #009541;
    --about-gray: #F7F7F7;
    --footer-background: #000000CC;
    --shadow: -13px 13px 5px -5px #4AACA380;
}

footer{
    background-color: var(--footer-background);
    padding: 90px 74px;
    position: relative;
    z-index: 2;
    border-radius: 50px 50px 0px 0px;
}
footer .container .col-sm ul li{
    height: 30px;
}
footer .container .row hr{
    width: 37%;
    height: 2px;
}
footer .container hr{
    height: 2px;
}
footer .container .col-sm ul.float-end li{
    background: white;
    padding: 0px 5px 0px 5px;
    border-radius: 6px;
    margin: 0px 5px;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
footer{
    padding: 90px 5px;
}
footer .container .col-sm{
    width: 49%;
}
footer .container .col-sm p{
    font-size: 11px !important;
        text-align: justify;
}
footer .container .col-sm ul li{
    height: auto !important;
}
footer .container .links-row .col-sm{
    width: 100%;
    float: none;
}
footer .container .links-row .col-sm ul{
    float: unset !important;
}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    footer{
        padding: 90px 5px;
    }
    footer .container .col-sm{
        width: 49%;
    }
    footer .container .col-sm p{
        font-size: 12px !important;
    }
    footer .container .links-row .col-sm{
        width: 100%;
        float: none;
    }
    footer .container .links-row .col-sm ul{
        float: unset !important;
    }
}
